name: Deploy cvd to Azure Container Apps

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.CVD_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CVD_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CVD_AZURE_SUBSCRIPTION_ID }}

      - uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./Dockerfile
          registryUrl: ${{ secrets.CVD_REGISTRY_SERVER }}
          registryUsername: ${{ secrets.CVD_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CVD_REGISTRY_PASSWORD }}
          containerAppName: cvd
          resourceGroup: cvd
          imageToBuild: ${{ secrets.CVD_REGISTRY_SERVER }}/cvd:${{ github.sha }}
